<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net461" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="63.0.3" targetFramework="net461" />
  <package id="ColorCode.Portable" version="1.0.3" targetFramework="net461" />
  <package id="Markdig" version="0.15.0" targetFramework="net461" />
  <package id="Markdig.SyntaxHighlighting" version="1.1.7" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net461" />
  <package id="uHttpSharp" version="0.1.6.22" targetFramework="net461" />
</packages>